# before run the system, you should first modify this file with your Wechat app
# information, and then change the file name to settings_secret.py. this file will
# be included in the settings.py

WECHAT_TOKEN = ''
WECHAT_ENCODING_AES_KEY = ''
WECHAT_APP_ID = ''
